/* html styles */
title {
    text-align: center;
  }
body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }
h1 {
    color: orange;
    text-align: center;
  }

p {
    text-align: center;
}

#radioTable{
    margin-left: auto;
    margin-right: auto;
}


#clockArea {
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }


